ALTER SESSION SET CONTAINER=testpdb1;

	CREATE USER testuser11 IDENTIFIED BY "testuserpass1100" CONTAINER=current;
	GRANT connect, resource TO testuser11 CONTAINER=current;
	ALTER USER testuser11 DEFAULT ROLE ALL CONTAINER=current;

	CREATE USER testuser12 IDENTIFIED BY "testuserpass1200" CONTAINER=current;
	GRANT connect, resource TO testuser12 CONTAINER=current;
	ALTER USER testuser12 DEFAULT ROLE ALL CONTAINER=current;

	CREATE USER testuser13 IDENTIFIED BY "testuserpass1300" CONTAINER=current;
	GRANT connect, resource TO testuser13 CONTAINER=current;
	ALTER USER testuser13 DEFAULT ROLE ALL CONTAINER=current;

	CREATE USER testuser14 IDENTIFIED BY "testuserpass1400" CONTAINER=current;
	GRANT connect, resource TO testuser14 CONTAINER=current;
	ALTER USER testuser14 DEFAULT ROLE ALL CONTAINER=current;

ALTER SESSION SET CONTAINER=testpdb2;

	CREATE USER testuser21 IDENTIFIED BY "testuserpass2100" CONTAINER=current;
	GRANT connect, resource TO testuser21 CONTAINER=current;
	ALTER USER testuser21 DEFAULT ROLE ALL CONTAINER=current;

	CREATE USER testuser22 IDENTIFIED BY "testuserpass2200" CONTAINER=current;
	GRANT connect, resource TO testuser22 CONTAINER=current;
	ALTER USER testuser22 DEFAULT ROLE ALL CONTAINER=current;

	CREATE USER testuser23 IDENTIFIED BY "testuserpass2300" CONTAINER=current;
	GRANT connect, resource TO testuser23 CONTAINER=current;
	ALTER USER testuser23 DEFAULT ROLE ALL CONTAINER=current;

	CREATE USER testuser24 IDENTIFIED BY "testuserpass2400" CONTAINER=current;
	GRANT connect, resource TO testuser24 CONTAINER=current;
	ALTER USER testuser24 DEFAULT ROLE ALL CONTAINER=current;

ALTER SESSION SET CONTAINER=walmandb;
	ALTER SESSION SET CURRENT_SCHEMA=walman;
	ALTER USER walman QUOTA UNLIMITED ON walmandata;

		CREATE TABLE walman.credentials
		(	cred_id				INTEGER  GENERATED BY DEFAULT AS IDENTITY (START WITH 9),
			cred_name  			VARCHAR2(30)  NOT NULL,
			cred_db_host_name 		VARCHAR2(75)  NOT NULL,
			cred_db_port			NUMBER  NOT NULL,
			cred_db_service			VARCHAR2(60)  NOT NULL,
			cred_passmgr_entry		VARCHAR2(50)  NOT NULL,
			CONSTRAINT credentials_pk PRIMARY KEY (cred_id),
			CONSTRAINT cred_name_uniq UNIQUE(cred_name)
		);

		CREATE TABLE walman.wallets
		(	wallet_id			INTEGER  GENERATED BY DEFAULT AS IDENTITY (START WITH 3),
			wallet_passmgr_entry		VARCHAR2(50) NOT NULL,
			wallet_description		VARCHAR2(100),
			wallet_local_directory		VARCHAR2(150),
			CONSTRAINT wallets_pk PRIMARY KEY (wallet_id),
			CONSTRAINT wallet_passmgr_unq UNIQUE (wallet_passmgr_entry)
		);

		CREATE TABLE walman.wallet_credentials
		(	wallet_id 	INTEGER NOT NULL,
			cred_id		INTEGER	NOT NULL,
			CONSTRAINT wallet_cred_pk PRIMARY KEY (wallet_id, cred_id),
			CONSTRAINT walcred_walid_fk FOREIGN KEY (wallet_id) REFERENCES wallets(wallet_id) ON DELETE CASCADE,
			CONSTRAINT walcred_credid_fk FOREIGN KEY (cred_id) REFERENCES credentials(cred_id) ON DELETE CASCADE
		);

		CREATE TABLE walman.wallet_sites
		(	site_id		INTEGER  GENERATED ALWAYS AS IDENTITY,
			wallet_id	INTEGER NOT NULL,
			site_host_name	VARCHAR2(75) NOT NULL,
			site_directory	VARCHAR2(150) NOT NULL,
			site_owner	VARCHAR2(20) NOT NULL,
			CONSTRAINT wallet_sites_pk PRIMARY KEY (site_id),
			CONSTRAINT walsite_wallet_id_fk FOREIGN KEY (wallet_id) REFERENCES wallets(wallet_id) ON DELETE CASCADE,
			CONSTRAINT walsite_host_dir_uniq  UNIQUE (site_host_name, site_directory, site_owner)
		);

		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (1,'TESTPDB1_TESTUSER11','{{ ansible_fqdn }}',1521,'testpdb1','ORACLE - TESTPDB1 - TESTUSER11');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (2,'TESTPDB1_TESTUSER12','{{ ansible_fqdn }}',1521,'testpdb1','ORACLE - TESTPDB1 - TESTUSER12');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (3,'TESTPDB1_TESTUSER13','{{ ansible_fqdn }}',1521,'testpdb1','ORACLE - TESTPDB1 - TESTUSER13');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (4,'TESTPDB1_TESTUSER14','{{ ansible_fqdn }}',1521,'testpdb1','ORACLE - TESTPDB1 - TESTUSER14');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (5,'TESTPDB2_TESTUSER21','{{ ansible_fqdn }}',1521,'testpdb2','ORACLE - TESTPDB2 - TESTUSER21');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (6,'TESTPDB2_TESTUSER22','{{ ansible_fqdn }}',1521,'testpdb2','ORACLE - TESTPDB2 - TESTUSER22');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (7,'TESTPDB2_TESTUSER23','{{ ansible_fqdn }}',1521,'testpdb2','ORACLE - TESTPDB2 - TESTUSER23');
		INSERT INTO walman.credentials (cred_id, cred_name, cred_db_host_name, cred_db_port, cred_db_service, cred_passmgr_entry)
			VALUES (8,'TESTPDB2_TESTUSER24','{{ ansible_fqdn }}',1521,'testpdb2','ORACLE - TESTPDB2 - TESTUSER24');
		COMMIT;

		INSERT INTO walman.wallets (wallet_id, wallet_passmgr_entry, wallet_description) VALUES (1,'WALLET - all_test_dbs_and_users','Wallet containing credentials for all test users in all test DBs');
		INSERT INTO walman.wallets (wallet_id, wallet_passmgr_entry, wallet_description) VALUES (2,'WALLET - testpdb1_users','Wallet containing credentials for all users only in testpdb1');
		COMMIT;

		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,1);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,2);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,3);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,4);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,5);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,6);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,7);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (1,8);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (2,1);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (2,2);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (2,3);
		INSERT INTO walman.wallet_credentials (wallet_id, cred_id) VALUES (2,4);
		COMMIT;

{% for host in groups['dbclients'] %}
		INSERT INTO walman.wallet_sites(wallet_id, site_host_name, site_directory, site_owner) VALUES (1,'{{ hostvars[host]["ansible_fqdn"] }}','/home/oracle/wallets/all_test_dbs_and_users','oracle');
		INSERT INTO walman.wallet_sites(wallet_id, site_host_name, site_directory, site_owner) VALUES (2,'{{ hostvars[host]["ansible_fqdn"] }}','/home/oracle/wallets/testpdb1_users','oracle');
{% endfor %}
		COMMIT;

EXIT;


